/* CSS Document */
body {
  background-color: #EFEFEF;
  font: x-small sans-serif;
}

a {
  text-decoration: none;
  color: #002bb8;
  background: none;
}

a:visited {
  color: #5a3696;
}

a:active {
  color: #faa700;
}

a:hover {
  text-decoration: underline;
}

#main_container {
  width: 710px;
  border: #000000 1px solid;
  margin: 0 auto;
  background-color: #FEFEFE;
  font-size: 127%;
}

#header {
  height: 247px;
  width: 100%;
  background-position: center;
  background-image: url(images/Jamulus_small.png);
  background-repeat: no-repeat;
}

h1 {
  size: 30px;
  float: right;
  vertical-align: middle;
  margin: 10px 20px 0 0;
  font-family: Impact, Arial, Helvetica, sans-serif;
  font-size: 188%;
}

h2, h3, h4 {
  color: black;
  background: none;
  font-weight: normal;
  margin: 5px 5px 5px 5px;
  padding-left: 5px;
  padding-top: .5em;
  padding-bottom: .17em;
  border-bottom: 1px solid #aaa;
}

h2 {
  font-size: 150%;
  font-weight: bold;
}

h4 {
  border-bottom: none;
  font-weight: normal;
}

h3 {
  font-size: 132%;
}

h4 {
  font-size: 116%;
}

ul {
  line-height: 1.5em;
  list-style-type: square;
  margin: .3em 0 0 2em;
  padding: 0;
}

li {
  margin-bottom: .1em;
}

p {
  margin: .4em .4em .5em 0.9em;
  line-height: 1.5em;
}

pre {
  padding: 1em;
  margin: .3em 1em 1em 1em;
  border: 1px dashed #2f6fab;
  color: black;
  background-color: #f9f9f9;
  line-height: 1.1em;
}

#navigation {
  width: 100%;
  border-top: #000000 1px solid;
  border-bottom: #000000 1px solid;
  text-align: center;
}

#navigation a {
  padding: 3px;
}

#content {
  width: 100%;
}

#footer {
  width: 100%;
  border-top: #000000 1px solid;
  text-align: center;
  font-size: 11px;
}

#migrmessage {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  font-size: 2em;
}

#migrmessage a {
  color: #fff;
  text-decoration: underline;
}

.red {
  color: #ff0000;
}
